{% extends "base.html" %}

{% block content %}
<h1>Подтверждение входа</h1>

<p class="text-center">
    Доброго времени суток!<br>
    Используйте этот код для подтверждения вашего действия в системе <strong class="accent">Nexus</strong>.
</p>

<div class="details" style="text-align: center;">
    <div style="color: #00FFA3; font-size: 48px; font-weight: 800; letter-spacing: 12px; padding: 12px; display: inline-block;">
        {{ code }}
    </div>
</div>

<p style="font-size: 14px; text-align: center;">
    Код действителен в течение <b style="color: #FFFFFF;">10 минут</b>.<br>
    Если вы не запрашивали этот код, просто проигнорируйте это письмо.
</p>
{% endblock %}
