{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в Nexus</h1>
<p class="text-center">Доброго времени суток!</p>
<p class="text-center">Мы рады, что вы выбрали <strong class="accent">Nexus Digital Bank</strong>. Ваш аккаунт успешно создан и полностью готов к работе.</p>

<p>Ваши новые возможности:</p>
<ul>
    <li><b>Мультивалютность</b>: Открывайте счета в любой точке мира</li>
    <li><b>Скорость</b>: Проводите мгновенные переводы без границ</li>
    <li><b>Выгода</b>: Конвертируйте валюту по лучшему курсу</li>
    <li><b>Безопасность</b>: Контролируйте свои средства 24/7</li>
</ul>

<p>Если у вас возникнут вопросы, наша служба поддержки всегда на связи.</p>

<div style="text-align: center; margin-top: 32px;">
    <a href="#" class="button">Войти в приложение</a>
</div>
{% endblock %}
