version: "3.9"

services:
  gateway_service:
    build: ./gateway_service
    env_file: ./gateway_service/.env
    depends_on:
      - auth_service
      - bank_account_service
      - bd_service
      - currency_service
      - log_service
      - metal_service
      - notification_service
      - transaction_service

  auth_service:
    build: ./auth_service
    env_file: ./auth_service/.env
    depends_on:
      - postgres_core
      - redis

  bank_account_service:
    build: ./bank_account_service
    env_file: ./bank_account_service/.env
    depends_on:
      - postgres_core

  bd_service:
    build: ./bd_service
    env_file: ./bd_service/.env
    depends_on:
      - postgres_core

  currency_service:
    build: ./currency_service
    env_file: ./currency_service/.env
    depends_on:
      - postgres_core

  log_service:
    build: ./log_service
    env_file: ./log_service/.env
    depends_on:
      - postgres_core
      - rabbitmq

  metal_service:
    build: ./metal_service
    env_file: ./metal_service/.env
    depends_on:
      - postgres_core

  notification_service:
    build: ./notification_service
    env_file: ./notification_service/.env 
    depends_on:
      - postgres_core
      - rabbitmq
      - mongodb

  transaction_service:
    build: ./transaction_service
    env_file: ./transaction_service/.env
    depends_on:
      - postgres_core


##########  Внешние инструменты  ##########

  postgres_core:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - /.env
    environment:
      POSTGRES_DB: ${POSTGRES_CORE_DB}
      POSTGRES_USER: ${POSTGRES_CORE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_CORE_PASSWORD}
    volumes:
      - pg_core_data:/var/lib/postgresql/data
    ports: 
      - "${POSTGRES_CORE_HOST_PORT}:${POSTGRES_CORE_CONTAINER_PORT}"


  rabbitmq:
    image: rabbitmq:3.13-management
    restart: unless-stopped
    env_file:
      - /.env
    ports:
      - "${RABBITMQ_HOST_PORT}:${RABBITMQ_CONTAINER_PORT}"
      - "${RABBITMQ_WEB_HOST_PORT}:${RABBITMQ_WEB_CONTAINER_PORT}"


  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    env_file:
      - /.env
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_CONTAINER_PORT}"
    volumes:
      - redis_data:/data



volumes:
  pg_core_data:
  # pg_history_data:
  # ch_data:
  redis_data:
  # mongo_data:
