version: "3.9"

services:
  gateway_service:
    build: ./gateway_service
    env_file: ./gateway_service/.env
    depends_on:
      - auth_service
      - bank_account_service
      - bd_service
      - currency_service
      - log_service
      - metal_service
      - notification_service
      - transaction_service

  auth_service:
    build: ./auth_service
    env_file: ./auth_service/.env
    depends_on:
      - postgres_core
      - postgres_history
      - redis

  bank_account_service:
    build: ./bank_account_service
    env_file: ./bank_account_service/.env
    depends_on:
      - postgres_core
      - postgres_history

  bd_service:
    build: ./bd_service
    env_file: ./bd_service/.env
    depends_on:
      - postgres_core
      - postgres_history

  currency_service:
    build: ./currency_service
    env_file: ./currency_service/.env
    depends_on:
      - postgres_core
      - postgres_history

  log_service:
    build: ./log_service
    env_file: ./log_service/.env
    depends_on:
      - postgres_core
      - rabbitmq
      - clickhouse

  metal_service:
    build: ./metal_service
    env_file: ./metal_service/.env
    depends_on:
      - postgres_core
      - postgres_history

  notification_service:
    build: ./notification_service
    env_file: ./notification_service/.env 
    depends_on:
      - postgres_core
      - rabbitmq
      - mongodb

  transaction_service:
    build: ./transaction_service
    env_file: ./transaction_service/.env
    depends_on:
      - postgres_core
      - postgres_history


##########  Внешние инструменты  ##########

  postgres_core:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - ./infra.env
    environment:
      POSTGRES_DB: ${POSTGRES_CORE_DB}
      POSTGRES_USER: ${POSTGRES_CORE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_CORE_PASSWORD}
    volumes:
      - pg_core_data:/var/lib/postgresql/data
    ports: 
      - "${POSTGRES_CORE_HOST_PORT}:${POSTGRES_CORE_CONTAINER_PORT}"

  postgres_history:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - ./infra.env
    environment:
      POSTGRES_DB: ${POSTGRES_HISTORY_DB}
      POSTGRES_USER: ${POSTGRES_HISTORY_USER}
      POSTGRES_PASSWORD: ${POSTGRES_HISTORY_PASSWORD}
    volumes:
      - pg_history_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_HISTORY_HOST_PORT}:${POSTGRES_HISTORY_CONTAINER_PORT}"

  rabbitmq:
    image: rabbitmq:3.13-management
    restart: unless-stopped
    ports:
      - "${RABBITMQ_HOST_PORT}:${RABBITMQ_CONTAINER_PORT}"
      - "${RABBITMQ_WEB_HOST_PORT}:${RABBITMQ_WEB_CONTAINER_PORT}"

  clickhouse:
    image: clickhouse/clickhouse-server:24
    restart: unless-stopped
    env_file:
      - ./infra.env
    environment:
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    ports:
      - "${CLICKHOUSE_HOST_PORT}:${CLICKHOUSE_CONTAINER_PORT}"
      - "${CLICKHOUSE_TCP_HOST_PORT}:${CLICKHOUSE_TCP_CONTAINER_PORT}"
    volumes:
      - ch_data:/var/lib/clickhouse

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    env_file:
      - ./infra.env
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_CONTAINER_PORT}"
    volumes:
      - redis_data:/data

  mongodb:
    image: mongo:7
    restart: unless-stopped
    env_file:
      - ./infra.env
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_HOST_PORT}:${MONGO_CONTAINER_PORT}"
    volumes:
      - mongo_data:/data/db

volumes:
  pg_core_data:
  pg_history_data:
  ch_data:
  redis_data:
  mongo_data:
