{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в NEXUS!</h1>
<p>Здравствуйте!</p>
<p>Мы рады, что вы выбрали <strong>NEXUS Digital Bank</strong>. Ваш аккаунт успешно создан и готов к работе.</p>

<p>Теперь вы можете:</p>
<ul>
    <li>Открывать счета в различных валютах</li>
    <li>Проводить быстрые переводы</li>
    <li>Конвертировать валюту по выгодному курсу</li>
    <li>Пользоваться инновационными инструментами безопасности</li>
</ul>

<p>Если у вас возникнут вопросы, наша служба поддержки работает в режиме 24/7.</p>

<p style="text-align: center;">
    <a href="#" class="button">Перейти в приложение</a>
</p>
{% endblock %}
