# --- ИНФРАСТРУКТУРА ---
POSTGRES_USER=bank_user
POSTGRES_PASSWORD=secure_password_change_me
INTERNAL_API_KEY=your_internal_shared_secret_key

# --- ПОДКЛЮЧЕНИЯ ---
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_core:5432/bank_core_db
REDIS_SESSIONS_URL=redis://redis_sessions:6379/0
REDIS_ONBOARDING_URL=redis://redis_onboarding:6379/0
MONGO_URL=mongodb://root:pass@mongodb:27017/bank_security_db?authSource=admin

# --- ВНЕШНИЕ API (НУЖНЫ РЕАЛЬНЫЕ КЛЮЧИ) ---
METALS_DEV_API_KEY=insert_metals_dev_key_here
EXCHANGE_RATE_API_KEY=insert_exchangerate_api_key_here
SMTP_PASSWORD=insert_gmail_app_password_here

# --- НАСТРОЙКИ AML ---
LARGE_TX_THRESHOLD=600000
DAILY_AMOUNT_LIMIT=1000000
